{% extends "_base.html" %}

{% block content %}
  <main class="mt-3">
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>Order Summary</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Item Price</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in orderitem_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.item.title }}</td>
            <td>
                {% if order_item.item.discount_price %}
                    <del class="mr-2">{{ order_item.item.price }}</del>
                {% endif %}
                {{ order_item.item.get_item_price }}
            </td>
            <td>
                <a href="{% url 'remove_single_item_from_cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                {{ order_item.quantity }}
                <a href="{% url 'add_to_cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>
            {% if order_item.item.discount_price %}
                ${{ order_item.get_total_item_price }}
                <span class="badge badge-primary">Saving ${{ order_item.get_total_discount_price }}</span>
            {% else %}
                ${{ order_item.get_total_item_price }}
            {% endif %}
            <a style='color: red;' href="{% url 'remove_from_cart' order_item.item.slug %}">
                <i class="fas fa-trash float-right"></i>
            </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Your cart is empty</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
        {% endfor %}
        {% if order.coupon %}
        <tr>    
            <td colspan="4"><b>Coupon</b></td>
            <td><b>-${{ order.coupon.amount }}</b></td>
        </tr>
        {% endif %}
        {% if order.get_total %}
        <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td><b>${{ order.get_total }}</b></td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href='{% url "checkout" %}'>Proceed to checkout</a>
            <a class='btn btn-primary float-right' href='{% url "home_page" %}'>Continue shopping</a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>

    </div>

  </main>

{% endblock content %}